*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: 3vmin;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente blanco */
  padding: 5px 10px; /* Ajusta el padding según sea necesario */
  border-radius: 5px; /* Añade bordes redondeados */
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 800%; /* Ajusta esto al ancho de tu nueva imagen */
  height: 582px; /* Ajusta esto a la altura de tu nueva imagen */
  bottom: 0;
  left: calc(var(--left) * 1%);
  background: url('path/to/your/new-image.jpg') repeat-x; /* Ajusta la ruta de la imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir el contenedor */
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}
